extends layout

block content
  div(class="row")
    div(class="col-md-4 col-md-offset-4" data-bind="if: usuarioLogeado")
      h2 Editar su cuenta
      form(data-bind="submit: editar")
        div(class="form-group")
          label Nick
          input(type="text" class="form-control" name="nick" data-bind="value: usuarioLogeado.nick")
        div(class="form-group")
          label Contraseña
          input(type="password" class="form-control" name="contrasena" data-bind="value: usuarioLogeado.contrasena")
        div(class="form-group")
          button(type="submit" class="btn btn-primary") Editar

  include footer
  script(src="/javascripts/editarCuenta.js")        
